#footer-wrap
  if theme.footer.owner.enable
    - var now = new Date(new Date().toLocaleString("en-US", { timeZone: "Asia/Shanghai" }))
    - var nowYear = now.getFullYear()
    if theme.footer.owner.since && theme.footer.owner.since != nowYear
      .copyright!= `<i class="fa fas fa-copyright"></i> ${theme.footer.owner.since} - ${nowYear} <i class="fa fas fa-heart"></i> ${config.author}`
    else
      .copyright!= `<i class="fa fas fa-copyright"></i> ${nowYear} <i class="fa fas fa-heart"></i> ${config.author} All Rights Reserved.`
  if theme.footer.custom_text
    .footer_custom_text!= theme.footer.custom_text
