.footer-copyright
  if owner.enable
    - const now = new Date(new Date().toLocaleString("en-US", { timeZone: "Asia/Shanghai" }))
    - const currentYear = now.getFullYear()
    - const sinceYear = owner.since
    span.copyright
      if sinceYear && sinceYear != currentYear
        != `<i class="fa fas fa-copyright"></i> ${sinceYear} - ${currentYear} <i class="fa fas fa-heart"></i> ${config.author}`
      else
        != `<i class="fa fas fa-copyright"></i> ${currentYear} <i class="fa fas fa-heart"></i> ${config.author} All Rights Reserved.`
